/* style.css */

body {
font-family: Arial, sans-serif;
background-color: #7bb9b2;
color: #004d4d;
margin: 0;
padding: 0;
}

header {
background-color: teal;
color: white;
text-align: center;
padding: 20px;
}

main {
padding: 15px;
}

#profile {
text-align: center;
padding: 20px;
}

#profile img {
border-radius: 50%;
border: 3px solid rgb(15, 57, 52);
}

#skills {
margin: 20px;
padding: 20px;
}


#skills ul {
  list-style-position: inside;
  text-align: center;
  padding: 0;
}

#skills li {
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid teal;
  padding: 8px;
  text-align: left;
}

th {
  background-color:#004d4d;
  color: white;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;          
  padding: 8px;         
  border: 2px solid teal;
  border-radius: 5px;   
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  border-color: #7bb9b2;    
  background-color: #e0f7f9;  
  outline: none;              
}

input[type="submit"] {
  background-color: teal;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #7bb9b2;
  border: 2px solid teal;
}


footer {
background-color: teal;
color: white;
text-align: center;
padding: 10px;
font-size: 12px;
}

footer a {
color: white;
font-size: 12px;
}